.createModal {
    display: grid;
    justify-content: center;
    align-items: center;
    div{
        text-align: center;
    }
    &__icon {
        font-size: 150px;
        color: #56BA03;
        animation-name: colorRotateAnimation;
        animation-duration: 2s;
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
    }
    &__login {
        cursor: pointer;
        width: 500px;
        height: 50px;
        background-color: #0fe0f5;
        border: 0;
        color: #282c30;
        font-size: 18px;
        font-weight: 600;

        &:hover {
            background-color: #469A00;
        }
        &:active {
            background-color: #76D726;
        }
    }
}

@keyframes colorRotateAnimation { 
    0% {
        transform: rotate(0turn);
        color: #469A00;
    }
    65% {
        color: #76D726;
    }
    100% {
        transform: rotate(3turn);
        color: #56BA03;
    }
}

.swal2-title {
    font-size: 20px;
}
.swal2-confirm {
    font-size: 20px!important;
    background-color: #0fe0f5!important;

    &:focus {
        box-shadow: 0 0 0 3px rgba(15, 224, 245, 0.5)!important;
    }

}
.swal2-modal {
    width: 500px;
    table {
        margin-top: 10px;
        width: 100%;
        font-size: 18px;
    }
}

.modal-input {
    text-align: right!important;
    label{
        font-size: 14px;
    }
    .swal2-input{
        margin: 1em 0 0;
        width: 100%;
        font-size: 18px;
    }
    
}
.title-vehicle {
    margin: 10px 20px;
}