.quotes {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 75px);
    &__sidebar {
        background-color: #ccc;
        direction: rtl;
        overflow: scroll;
        overflow-x:hidden;
        font-size: 18px;
        &__arrow {
            cursor: pointer;
            display: none;
            font-size: 18px;
            color: #464646;
        }

        &__list__item {
            cursor: pointer;
            padding: 15px 5px;
            border-bottom: 1px solid #464646;
            &:hover {
                background-color: #464646;
                color: #ccc;
                border-bottom: 2px solid #ccc;
            }
        }
        &__select {
            border: none;
            background-color: #A1A1A1;
            font-size: 18px;
            color: #282c30;
        }
    }
    &__content {
        padding: 20px;
        background-color: #282c30;
        color: #ccc;
        &__arrow {
            cursor: pointer;
            display: none;
            font-size: 18px;
            color: #ccc;
        }
    }

    &__form{
        padding: 20px;
        &__error {
            padding: 10px;
            margin: 20px 0;
            font-size: 13px;
            text-align: center;
        }
        &__principal {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &__date {
                font-size: 24px;
                font-weight: 900;
            }

            &__status {
                font-size: 20px;
                text-align: right;
                font-weight: 600;  
                padding-right: 20px;              
            }
        }

        &__personal {
            border: 1px solid #464646;
            border-radius: 2px;
            padding: 20px;
            margin-top: 10px;
            &__title {
                font-size: 18px;
                margin-bottom: 20px;
            }
            &__content {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        &__vehicle {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 1px solid #464646;
            border-radius: 2px;
            padding: 20px;
            margin-top: 10px;
        }

        &__total {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 1px solid #464646;
            border-radius: 2px;
            padding: 20px;
            margin-top: 10px;

            &__text {
                margin-top: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                font-size: 22px;
            }
            &__price {
                margin-top: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                font-size: 22px;
                font-weight: 600;
            }
        }

        &__buttons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;

            &__edit{
                width: 243px;
                background-color: #f8ba46;
                box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: none;
                padding: 20px;
                text-align: center;
                margin-bottom: 20px;
                color: #282c30;

                &:hover {
                    background-color: #EAA018;
                }


                &-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
            &__save {
                width: 243px;
                background-color: #56BA03;
                box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: none;
                padding: 20px;
                text-align: center;
                margin-bottom: 20px;
                color: #282c30;

                &:hover {
                    background-color: #459800;
                }
                &-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
            &__delete {
                width: 243px;
                background-color: #B92727;
                box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: none;
                padding: 20px;
                text-align: center;
                margin-bottom: 20px;
                color: #282c30;

                &:hover {
                    background-color: #970F0F;
                }
                &-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }
    }
}

.input-select {
    padding: 7px 10px;
    font-size: 22px;
    width: 500px;
    height: 42px;
    border: 0px;
    background: #ccc;
	color: #464646;
    &:disabled {
        background-color: #464646;
        color: #ccc;
    }
}

.input-text {
    font-size: 18px;
    font-weight: 600;
    height: 42px;
    border: 0px;    
	color: #464646;
    padding: 7px 10px;
    width: 500px;
   
    &:focus {
        background-color: #f0f0f0;
    }
    &:disabled {
        background-color: #7e7e7e;
        color: #ccc;
        &::placeholder {
            color: #ccc;
        }
    }
}

.label {
    font-size: 18px;
    color: #464646;
    margin: 0px 7px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 1400px) {
    .quotes__form__principal,
    .quotes__form__personal__content,
    .quotes__form__vehicle,
    .quotes__form__total,
    .quotes__form__buttons  {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .quotes__form__discount__text {
        margin-bottom: 10px;
    }
    .quotes__content__error,
    .quotes__content__title,
    .quotes__form__principal__status {
        text-align: center;
    }
}

@media (max-width: 850px) {
    .quotes {
        grid-template-columns: 1fr;
        &__sidebar__arrow {
            display: block;
        }
        &__content__arrow {
            display: block;
        }
    }
    .quotes__sidebar {
        display: none;
    }
    .quotes__content {
        padding: 0;
    }
    .input-select,
    .input-text {
        width: 94%;
        max-width: 500px;
    }
}
